.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  margin-bottom: 40px;
  flex-wrap: wrap;
  position: relative;
}
.containerSection {
  display: flex;
  align-items: center;
  gap: 10px;
}
.containerForm {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  height: 45px;
  width: 300px;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
}
.formInput {
  outline: none;
  border: none;
  height: 40px;
  width: 260px;
}
.filteButton {
  cursor: pointer;
}
.navigateArrow {
  cursor: pointer;
}
