.container {
  background-color: #fff9f5;
  display: flex;
  flex-direction: column;
}
.logoBlock {
  margin: 0 auto;
  width: 80%;
  height: 60px;
  display: flex;
  align-items: center;
}
.contentBlock {
  margin: 0 auto;
  width: 80%;
}
