.button {
  width: 360px;
  height: 50px;
  background-color: #000;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.buttonAnswer {
  width: 360px;
  height: 50px;
  background-color: inherit;
  border-radius: 8px;
  color: #000;
  border: 1px solid #000;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.wrong {
  width: 360px;
  height: 50px;
  background-color: #ef6e6e;
  border-radius: 8px;
  color: #000;
  border: 1px solid #000;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.right {
  width: 360px;
  height: 50px;
  background-color: #b9ffa0;
  border-radius: 8px;
  color: #000;
  border: 1px solid #000;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
