.container {
  background-color: aquamarine;
  width: 520px;
  height: 160px;
  border-radius: 8px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.textBlock {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
